[MESSAGES CONTROL]
disable=
  broad-except,
  import-outside-toplevel,
  invalid-name,
  missing-docstring,
  no-self-use,
  protected-access,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-function-args,
  too-many-instance-attributes,
  too-many-lines,
  unused-argument,
[FORMAT]
max-line-length=139
